.report, .del-icon {
    cursor: pointer;
    text-decoration: none;
    color: dodgerblue;
}

.report:hover, .del-icon:hover {
    color: orangered;
    text-decoration: none;
}

.suspicious {
    background-color: rgb(255, 230, 230) !important;
}
