body {
    font-family: 'Microsoft JhengHei';
}

.icon {
    width: 25px;
    height: 25px;
}

.foot-info {
    text-align: right;
}

.fit-container {
    width: 100%;
}

.btn-big {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1-nbs {
    font-size: 36px;
}

.h3-nbs {
    font-size: 24px;
}

/* PAGE SPECIFIED */

// Recipe List Page
.icon-recipelist-wrapper {
    padding: 10px;
}

.icon-recipelist {
    width: 100%
}

// Index page
.btn-func {
    height: 150px;
    line-height: 150px;
    padding: initial;
}

// Recipe Result Page
.icon-fluid {
    width: 100%
}

.pokemon-title {
    font-size: 36px;
}

.set-center {
    min-height: 1px;
    text-align: center;
}

// Pokemon Result Page
.recipe-title {
    font-size: 60px;
    text-align: center;
}

.icon-title {
    width: 64px;
}

.icon-dish {
    margin: 5px 5px 5px 5px;
}

// Submit Result Page
.selection-panel {
    height: 270px;
    display: flex;
    flex-direction: column;
}

.selection-area {
    overflow-y: auto;
    position: relative;
    flex: 1;
}

.selection-title {
    height: 55px;
}

// User Verifying Page
@media (max-width: 767px) {
    .login-btn-div {
        height: 300px;
    }
}

@media (min-width: 768px) {
    .login-btn-div {
        height: 400px;
    }
}

// Pokemon Profile
.skill-icon {
    height: 30px;
    width: 30px;
}

.profile-icon-wrapper {
    padding: 5px;
}

.profile-text-skill {
    line-height: 30px
}

.bingo-icon {
    height: 20px;
    width: 20px;
}

.evolve-icon {
    height: 120px;
    width: 120px;
    margin: 10px;
}

.type-icon, .profile-icon {
    width: 100%;
}

/* OVERRIDES */
.well {
    margin-bottom: initial;
}