body {
    font-family: 'Microsoft JhengHei';
}

.icon {
    width: 25px;
    height: 25px;
}

.icon-fluid {
    width: 100%;
    margin-bottom: 5px;
}

.btn-big {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}