body {
    font-family: 'Microsoft JhengHei';
}

.icon {
    width: 25px;
    height: 25px;
}

.foot-info {
    text-align: right;
}

.fit-container {
    width: 100%;
}

.btn-big {
    width: 100%;
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selection-panel {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.selection-area {
    overflow-y: auto;
    position: relative;
    flex: 1;
}

@media (max-width: 767px) {
    .icon-pokelist {
        width: 15.7%;
        margin-bottom: 5px;
    }

    .icon-recipelist {
        width: 32.6%;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) {
    .icon-pokelist {
        width: 9.5%;
        margin-bottom: 5px;
    }

    .icon-recipelist {
        width: 16.3%;
        margin-bottom: 5px;
    }
}

// Recipe Result Page
.icon-fluid {
    width: 100%
}

.pokemon-title {
    font-size: 36px;
}

.set-center {
    text-align: center;
    vertical-align: central;
}

// Pokemon Result Page
.recipe-title {
    font-size: 60px;
    text-align: center;
    vertical-align: central;
}

.icon-title {
    width: 64px;
}

.icon-dish {
    margin: 5px 5px 5px 5px;
}