{%- extends "base.html" %}

{% block content %}
<div class="container">
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">製作者</div>
            <div class="panel-body">
                水母，聯絡方式: 【<a href="http://fb.com/RxALPHA">FB</a>、<a href="http://line.com/ti/p/~RaenonX">LINE</a>、<a href="mailto:maplestory0710@gmail.com">Email</a>】
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">系統架構</div>
            <div class="panel-body">
                伺服器: Heroku (PaaS)、資料庫: MongoDB Atlas、後台主控語言: python。
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">注意事項</div>
            <div class="panel-body">
                <ul>
                    <li>遇到錯誤請一定拜託千萬要回報！有什麼想法、看法、回饋、建議的也一定拜託千萬要回報！</li>
                    <li>本網站所使用的伺服器(Heroku)的免費方案中，有一個限制是當程式沒有任何活動30分鐘後，該程式將會自動進入休眠。所以如果連續30分鐘沒有人使用本網站的話，第一個開啟網站的人會花費比較久的時間等待，<strong>這是正常現象</strong>。</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%- endblock %}