{%- extends "base.html" %}

{% block titleex -%} 關於 {%- endblock %}

{% block content %}
<div class="container">
    <div class="panel-group">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">製作者</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">網站架設、程式維護</div>
                                    <div class="panel-body">
                                        <p class="h3-nbs set-center">水母</p>
                                        <div class="list-group">
                                            <a href="http://fb.com/RxALPHA" class="list-group-item list-group-item-action set-center">點此前往FB</a>
                                            <a href="http://line.com/ti/p/~RaenonX" class="list-group-item list-group-item-action set-center">LINE好友</a>
                                            <a href="mailto:maplestory0710@gmail.com" class="list-group-item list-group-item-action set-center">Email</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">資料提供</div>
                                    <div class="panel-body">
                                        <p class="h3-nbs set-center">洪士評</p>
                                        <div class="list-group">
                                            <a href="http://line.com/ti/p/Un05EfWzlu" class="list-group-item list-group-item-action set-center">LINE好友</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">系統架構</div>
                    <div class="panel-body">
                        伺服器: Heroku (PaaS)、資料庫: MongoDB Atlas、後台主控語言: python。
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">注意事項</div>
                    <div class="panel-body">
                        <ul>
                            <li>遇到錯誤請一定拜託千萬要回報！有什麼想法、看法、回饋、建議的也一定拜託千萬要回報！</li>
                            <li>本網站使用Cookie以存放您在本站所建立的身分。</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-danger">
                    <div class="panel-heading">資料參照</div>
                    <div class="panel-body">
                        <ul>
                            <li>約前4300筆開鍋紀錄由洪士評所製作的<a href="https://docs.google.com/spreadsheets/d/1K0fPNvQVzBhMsXSnBIJLYql_2o4wVZCKmYPT9Snhqrc/edit?usp=sharing">開鍋機率試算表</a>內抓取。</li>
                            <li>絕大部分精靈資料參考<a href="https://docs.google.com/spreadsheets/d/1-ZT6cCcqxAIi0KbRjWqfQt1L3vEzYvFU8LYGgwCaSJA/htmlview?sle=true">此網頁</a>。</li>
                            <li>技能翻譯、技能資訊、賓果獎勵參考<a href="https://docs.google.com/spreadsheets/d/1S_PGDMXNpwkBt6Px3zwKQk-n0PFzjPX-o5qztefoKhc/htmlview?sle=true">此網頁</a>。</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%- endblock %}