{%- extends "bootstrap/base.html" %}

{% block title -%} {% block titleex %}{% endblock %} | 寶可夢探險尋寶 攻略資料站 {%- endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/google.html" as google %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-signin-client_id" content="431200420774-gomqlh7uqa9a5m5fjfrqlnvn07ofdp4o.apps.googleusercontent.com">
<meta name="description" content="本站提供各方面的資訊查閱，同時開放使用者擁有自己的紀錄。歡迎多加利用！。">
<meta name="keywords" content="寶可夢探險尋寶,寶可夢探險尋寶 攻略,攻略,Pokemon Quest,探險尋寶食譜,探險尋寶資料">
<meta name="author" content="水母">
{%- endblock %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
{{ JSGlue.include() }}
{% block layout %}{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% block headex %}{% endblock %}
{%- endblock %}

{% block scripts %}
{{ super() }}
<script data-ad-client="ca-pub-1535004092052078" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
{{ google.uanalytics('UA-121868554-1') }}
{% block scriptsex %}
{% endblock %}
{% endblock %}

{% block styles -%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pokemon.css') }}">
{% block styleex %}{% endblock %}
{% endblock %}

{% block navbar %}
{{ nav.main.render() }}
{% endblock %}
