{%- extends "bootstrap/base.html" %}

{% block title %} Pokemon Quest 資料站 {% endblock %}

{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/google.html" as google %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
<script src={{ url_for('static', filename='less.min.js') }} type="text/javascript"></script>
{%- endblock %}

{% block styles -%}
{{ super() }}
<link rel="stylesheet/less" type="text/css"
      href="{{ url_for('static', filename='main.less') }}">
{% endblock %}

{% block scripts %}
{{super()}}
{{google.uanalytics('UA-121868554-1')}}
{% endblock %}

{% block navbar %}
{{ nav.main.render() }}
{% endblock %}
