{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        {{ utils.flashed_messages(messages) }}
    </div>
    {%- endif %}
    {%- endwith %}
    <div class="col-md-12 jumbotron">
        <h1>歡迎來到Pokemon Quest資訊站！</h1>
        <p>目前網頁尚未建置完畢，發生錯誤還請見諒。</p>
        <p>本網站使用<a href="http://lesscss.org/">less.js</a>輔助排版，如果排版發生奇怪的現象時，請先嘗試使用Chrome, Safari...等較常更新的瀏覽器。</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-big" href="{{ url_for('.find_recipe_index') }}">從精靈查食譜</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-info btn-big" href="{{ url_for('.find_pokemon_index') }}">從食譜查精靈</a>
        </div>
    </div>
</div>
{%- endblock %}
