{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
  <div class="container">
  {%- with messages = get_flashed_messages(with_categories=True) %}
  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}
    <div class="jumbotron">
      <h1>Welcome to Flask-Bootstrap</h1>
      <p>This example application demonstrates some (but not all!) of the
      features of <a href="http://pythonhosted.org/Flask-Bootstrap">
      Flask-Bootstrap</a>.</p>
      <p>
        <a class="btn btn-lg btn-default" role="button"
           href="http://pythonhosted.org/Flask-Bootstrap" >Show docs</a>
      </p>
    </div>
   </div>
{%- endblock %}
