{%- extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        {{ utils.flashed_messages(messages) }}
    </div>
    {%- endif %}
    <div class="row">
        <div class="col-md-12">
            <div class="glyphicon glyphicon-ok alert alert-info show" role="alert">
                目前網頁基本功能建置完成，使用時若有任何問題的話，請聯絡<a href="mailto:maplestory0710@gmail.com">點此</a>回報，謝謝。
            </div>
            <div class="glyphicon glyphicon-info-sign alert alert-warning show" role="alert">
                因為伺服器在連續30分鐘沒有活動時會將程式轉入休眠模式，故進入休眠模式後，第一個連入的使用者會比平常慢一點載入完成。
            </div>
        </div>
    </div>
    {%- endwith %}
    <div class="col-md-12 jumbotron">
        <h1>歡迎來到Pokemon Quest資訊站！</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <a class="btn btn-primary btn-big" href="{{ url_for('.find_recipe_index') }}">從精靈查食譜</a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-info btn-big" href="{{ url_for('.find_pokemon_index') }}">從食譜查精靈</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <p class="set-center h3">更新日誌</p>
                <ul class="list-group">
                    {% for entry in site_log %}
                    <li class="list-group-item list-group-item-{{ entry.type }}">
                        {{ entry.timestamp.strftime('%m-%d %H:%M') }} (UTC): {{ entry.content }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="panel panel-primary set-center">
                <div class="panel-heading"><span class="h3">開鍋總數</span></div>
                <div class="panel-body">
                    <span class="h1">{{ count }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 set-center">
            <div class="well">
                <p class="set-center h3">最新開鍋</p>
                <div class="list-group">
                    {% for entry in recent %}
                    <a href="{{ url_for('.find_recipe', id=entry.pokemon_id) }}" class="list-group-item">
                        {{ entry.timestamp.strftime('%m-%d %H:%M') }} (UTC)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="icon" src="/static/Icon/{{ entry.pokemon_id }}.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <img class="icon" src="/static/Recipe/{{ entry.recipe_id }}.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ entry.quality|string() }}
                    </a>
                    {% endfor %}
                </div>
                <a class="btn btn-success" href="{{ url_for('.submit_result') }}">我也要登記</a>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
