{%- extends "base.html" %}

{% block titleex -%}{{ title }}{%- endblock %}

{% block layout %}<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layouts/poke_list.css') }}">{% endblock %}

{% block scriptsex %}
<script src={{ url_for('static', filename='scripts/poke_list.js') }} type="text/javascript"></script>
{%- endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 set-center">
            <p><span class="h2">{{ title }}</span><span class="h4"> - 點擊滑鼠右鍵可取消選取屬性。</span></p>
        </div>
    </div>
    {% if mesasage is defined %}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">{{ mesasage }}</div>
        </div>
    </div>
    {% endif %}
    <div class="row form-group">
        <input type="hidden" id="elemClicked" value="-1">
        {% for type in poketype %}
        <div class="col-md-2 col-sm-3 col-xs-4">
            <button type="button" class="btn poke-button poke-{{ type.name.lower() }}" value="{{ type|int }}">{{ type|string() }}</button>
        </div>
        {% endfor %}
        <div class="col-md-2 col-sm-3 col-xs-4">
            <button type="button" class="btn poke-button poke-no poke-button-activated" value="-1">(不選擇屬性)</button>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <input class="form-control" id="pokeSearch" type="text" placeholder="輸入關鍵字搜尋..." value="">
        </div>
    </div>
    {% for entry in pokedata %}
    <a class="col-md-1 col-sm-2 col-xs-3 icon-pokelist-wrapper poke"
       href="{{ url_for(next_endpoint, id=entry.id) }}"
       poke_id="{{ entry.id }}"
       zh="{{ entry.name_zh }}"
       jp="{{ entry.name_jp }}"
       en="{{ entry.name_en }}"
       elem="{{ entry.elements_id|join(" ") }}">
        <img class="icon-pokelist" src="/static/Icon/{{ entry.id }}.png">
    </a>
    {% endfor %}
</div>
{%- endblock %}