{%- extends "base.html" %}

{% block titleex -%} 最新開鍋 {%- endblock %}

{% import "bootstrap/utils.html" as utils %}

{% block content %}
<div class="container">
    {%- with messages = get_flashed_messages(with_categories=True) %}
    {%- if messages %}
    <div class="row">
        {{ utils.flashed_messages(messages) }}
    </div>
    {%- endif %}
    {%- endwith %}
    <div class="row">
        <div class="col-md-12 set-center">
            <div class="well">
                <p class="set-center h3-nbs">最新開鍋</p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="set-center">時間</th>
                                <th class="set-center">精靈</th>
                                <th class="set-center">食譜</th>
                                <th class="set-center">品質</th>
                                <th class="set-center">提交者ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in data %}
                            <tr>
                                <td>{{ entry.timestamp.strftime('%Y-%m-%d %T') }} (UTC)</td>
                                <td><a href="{{ url_for('.find_recipe', id=entry.pokemon_id) }}"><img class="icon" src="/static/Icon/{{ entry.pokemon_id }}.png" /></a></td>
                                <td><a href="{{ url_for('.find_pokemon', id=entry.recipe_id) }}"><img class="icon" src="/static/Recipe/{{ entry.recipe_id }}.png" /></a></td>
                                <td>{{ entry.quality|string() }}</td>
                                <td><a href="{{ url_for('.recent_new_data_by_user', uid=entry.adder_uid) }}">{{ entry.adder_uid }}</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if (start - result_count) >= 0 %}
                <a class="btn btn-danger" href="{{ url_for('.recent_new_data', start=start-result_count) }}">後{{ result_count }}條結果</a>
                {% endif %}
                <a class="btn btn-success" href="{{ url_for('.recent_new_data', start=start+result_count) }}">
                    前{{ result_count }}條結果
                </a>
            </div>
        </div>
    </div>
</div>
{%- endblock %}
