{%- extends "base.html" %}

{% block titleex -%} 最新開鍋 {%- endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 set-center">
            <div class="well">
                <p><span class="h3-nbs">使用者ID: </span><span class="h1-nbs">{{ data[0].adder_uid }}</span><span class="h3-nbs">的開鍋紀錄</span></p>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="set-center">時間</th>
                                <th class="set-center">精靈</th>
                                <th class="set-center">食譜</th>
                                <th class="set-center">品質</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in data %}
                            <tr>
                                <td>{{ entry.timestamp.strftime('%Y-%m-%d %T') }} (UTC)</td>
                                <td><a href="{{ url_for('.find_recipe_result', id=entry.pokemon_id) }}"><img class="icon" src="/static/Icon/{{ entry.pokemon_id }}.png" /></a></td>
                                <td><a href="{{ url_for('.find_pokemon_result', id=entry.recipe_id) }}"><img class="icon" src="/static/Recipe/{{ entry.recipe_id }}.png" /></a></td>
                                <td>{{ entry.quality|string() }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if (start - result_count) >= 0 %}
                <a class="btn btn-danger" href="{{ url_for('.recent_new_data_by_user', start=start-result_count) }}">後{{ result_count }}條結果</a>
                {% endif %}

                {% if (data|length - start) > result_count %}
                <a class="btn btn-success" href="{{ url_for('.recent_new_data_by_user', start=start+result_count) }}">
                    前{{ result_count }}條結果
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{%- endblock %}
